<div class="db-title-bar">
    <div class="db-menu-bar w-clearfix"><img src="../../assets/images/Standard-Bank_Progress-Logo_Stacked_RGB-01-4.svg" loading="lazy" alt="" class="image">
      <div class="portal-name">Account Opening</div>
      <form action="/search" class="search-bar w-form"><input type="search" class="search-bar-input w-input" maxlength="256" name="query" placeholder="Search" id="search" required=""><input type="submit" value="Search" class="search-button w-button">
        <a href="#" class="link-block w-inline-block"></a>
      </form>
      <div class="portfolio-block">
        <div class="notification-icon"></div>
      </div>
      <div class="portfolio-block">
        <div class="menu"></div>
      </div>
      <div class="portfolio-block">
        <div class="profile">
          <div class="profile-name">ET</div>
        </div>
      </div>
    </div>
    <div class="loader-wrapper">
      <div class="load"></div>
      <div class="loader"></div>
      <div class="load"></div>
      <div class="loader"></div>
    </div>
    <div class="main-title">
      <div class="text-block">Staff Portal</div>
      <div class="refresh-icon">
        <a href="#" class="refresh w-inline-block"></a>
      </div>
    </div>
  </div>
