<div class="db--nav-column">
  <a href="#" class="db-name w-inline-block">
    <div class="db-name-text">DASHBOARD</div>
  </a>
  <div class="db-account-name">
    <div class="text-block-14">Testing New Link</div>
  </div>
  <div class="page-wrapper">
    <div class="pagination-name active">
      <a href="#" class="pagination w-inline-block"></a>
      <div class="pagination-text">Document Information</div>
    </div>
    <div class="stroke"></div>
    <div class="pagination-name">
      <a href="#" class="pagination w-inline-block"></a>
      <div class="pagination-text">Business Information</div>
    </div>
    <div class="stroke"></div>
    <div class="pagination-name">
      <a href="#" class="pagination w-inline-block"></a>
      <div class="pagination-text">Account Information</div>
    </div>
    <div class="stroke"></div>
    <div class="pagination-name">
      <a href="#" class="pagination w-inline-block"></a>
      <div class="pagination-text">Management Information</div>
    </div>
    <div class="stroke"></div>
    <div class="pagination-name">
      <a href="#" class="pagination w-inline-block"></a>
      <div class="pagination-text">Digital Channels</div>
    </div>
  </div>
  <a data-w-id="59458419-fdea-feda-8215-faa1ef55cf33" href="#" class="db--cancel-button w-button">Mark As Rejected</a>
</div>