<section class="db-section wf-section">
    <app-title-bar></app-title-bar>
    <div class="db--content-wrapper track w-clearfix">
        <app-nav-column></app-nav-column>
        <div class="db--content-column">
            <h1 class="db--header"><span class="db-content-title">Document Information</span></h1>
            <div class="db-content">
            <div class="text-block">Upload Documents</div>
            <a href="#" class="db-hide-icon w-inline-block"></a>
            <div class="db-content-line"></div>
            </div>
            <div class="uploaded-content">
            <div class="text-block-13">Uploaded Documents</div>
            <div class="w-layout-grid upload-grid">
                <div id="w-node-be8d778a-e692-f588-368b-36230a486b0f-d87e3ef9" class="uploaded-item">
                <div class="uploaded-content-text">Business Address</div>
                <div class="uploaded-content-text">45 MB</div>
                </div>
                <div id="w-node-ca122f95-a53e-fd9a-591e-37009617e27e-d87e3ef9" class="upload-check">
                <div class="check"></div>
                </div>
            </div>
            <div class="w-layout-grid upload-grid">
                <div id="w-node-fc7fea9b-d78a-01de-a411-1c14ca15f90f-d87e3ef9" class="uploaded-item">
                <div class="uploaded-content-text">Permit</div>
                <div class="uploaded-content-text">12 MB</div>
                </div>
                <div id="w-node-fc7fea9b-d78a-01de-a411-1c14ca15f914-d87e3ef9" class="upload-check">
                <div class="check"></div>
                </div>
            </div>
            <div class="w-layout-grid upload-grid">
                <div id="w-node-_4000ba66-1370-e1fd-5ae2-85929261dc8e-d87e3ef9" class="uploaded-item">
                <div class="uploaded-content-text">Registration</div>
                <div class="uploaded-content-text">12 MB</div>
                </div>
                <div id="w-node-_4000ba66-1370-e1fd-5ae2-85929261dc93-d87e3ef9" class="upload-check">
                <div class="check"></div>
                </div>
            </div>
            <div class="w-layout-grid upload-grid">
                <div id="w-node-_90fc645c-86ab-a21b-7fd5-d951d4bc2a0a-d87e3ef9" class="uploaded-item">
                <div class="uploaded-content-text">Resolution</div>
                <div class="uploaded-content-text">12 MB</div>
                </div>
                <div id="w-node-_90fc645c-86ab-a21b-7fd5-d951d4bc2a0f-d87e3ef9" class="upload-check">
                <div class="check"></div>
                </div>
            </div>
            <div class="w-layout-grid upload-grid">
                <div id="w-node-_39809356-2dc0-2f8a-dd44-fd04f665b4bf-d87e3ef9" class="uploaded-item">
                <div class="uploaded-content-text">Passport Picture</div>
                <div class="uploaded-content-text">45 MB</div>
                </div>
                <div id="w-node-_39809356-2dc0-2f8a-dd44-fd04f665b4c4-d87e3ef9" class="upload-check">
                <div class="check"></div>
                </div>
            </div>
            <div class="w-layout-grid upload-grid">
                <div id="w-node-_0baf8851-9bf6-1b55-4112-909c453e630f-d87e3ef9" class="uploaded-item">
                <div class="uploaded-content-text">Signature Card</div>
                <div class="uploaded-content-text">45 MB</div>
                </div>
                <div id="w-node-_0baf8851-9bf6-1b55-4112-909c453e6314-d87e3ef9" class="upload-check">
                <div class="check"></div>
                </div>
            </div>
            </div>
            <div class="button-wrapper w-clearfix">
            <a href="#" class="db-button document-info w-button">Continue</a>
            </div>
        
        </div>
        <app-task-pane></app-task-pane>
    </div>
</section>
