<section class="db-section wf-section">
  <app-title-bar></app-title-bar>
  <div class="db--content-wrapper track w-clearfix">
    <app-nav-column></app-nav-column>
    <div class="db-content-title"><span class="db-content-title">Dashboard</span></div>
    <div class="scroll-track">
      <div class="form-block w-form">
        <form id="email-form" name="email-form" data-name="Email Form" method="get" data-wf-page-id="6495f5337f577e32d87e3ef4" data-wf-element-id="6ca54acb-af04-9d07-5cd2-d5f82d8b317a">
          <div class="table-scroll-track">
            <div class="table-wrapper">
              <div class="row-wrapper">
                <div class="w-layout-grid account-grid header">
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b317f-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 4" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-4">Checkbox</span></label></a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b3182-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data header">Client Name</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b3185-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data header">Assigned To</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b3188-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data header">Entity Type</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b318b-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data header">Status</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b318e-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data header">Created Date</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid">
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b3192-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 4" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-4">Checkbox</span></label></a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b3197-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b319a-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Digital &amp; Innovation</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b319d-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Sole Proprietor Account Opening</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31a0-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">INCOMPLETE</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31a3-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid gray">
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31a7-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-3">Checkbox</span></label></a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31ac-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Glover Daniel</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31af-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Digital &amp; Innovation</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31b2-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Sole Proprietor Account Opening</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31b5-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">INCOMPLETE</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31b8-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid">
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31bc-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31c1-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31c4-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31c7-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31ca-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-_6ca54acb-af04-9d07-5cd2-d5f82d8b31cd-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid gray">
                  <a id="w-node-_5200fac9-2c73-51df-1bbd-1f4991271a31-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-_5200fac9-2c73-51df-1bbd-1f4991271a36-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-_5200fac9-2c73-51df-1bbd-1f4991271a39-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-_5200fac9-2c73-51df-1bbd-1f4991271a3c-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-_5200fac9-2c73-51df-1bbd-1f4991271a3f-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-_5200fac9-2c73-51df-1bbd-1f4991271a42-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid">
                  <a id="w-node-_74d84970-27b5-4ded-5e47-ed29b2e188db-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-_74d84970-27b5-4ded-5e47-ed29b2e188e0-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-_74d84970-27b5-4ded-5e47-ed29b2e188e3-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-_74d84970-27b5-4ded-5e47-ed29b2e188e6-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-_74d84970-27b5-4ded-5e47-ed29b2e188e9-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-_74d84970-27b5-4ded-5e47-ed29b2e188ec-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid gray">
                  <a id="w-node-c464191f-0618-db92-66f6-85d65d095492-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-c464191f-0618-db92-66f6-85d65d095497-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-c464191f-0618-db92-66f6-85d65d09549a-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-c464191f-0618-db92-66f6-85d65d09549d-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-c464191f-0618-db92-66f6-85d65d0954a0-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-c464191f-0618-db92-66f6-85d65d0954a3-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid">
                  <a id="w-node-_278ff1f8-464f-e1d5-6774-b4283ea6ec27-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-_278ff1f8-464f-e1d5-6774-b4283ea6ec2c-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-_278ff1f8-464f-e1d5-6774-b4283ea6ec2f-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-_278ff1f8-464f-e1d5-6774-b4283ea6ec32-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-_278ff1f8-464f-e1d5-6774-b4283ea6ec35-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-_278ff1f8-464f-e1d5-6774-b4283ea6ec38-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid gray">
                  <a id="w-node-_970602f3-eb26-a79d-ce16-d6d47e2dcd3c-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-_970602f3-eb26-a79d-ce16-d6d47e2dcd41-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-_970602f3-eb26-a79d-ce16-d6d47e2dcd44-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-_970602f3-eb26-a79d-ce16-d6d47e2dcd47-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-_970602f3-eb26-a79d-ce16-d6d47e2dcd4a-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-_970602f3-eb26-a79d-ce16-d6d47e2dcd4d-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid">
                  <a id="w-node-_89491901-60a7-85b8-4be4-d954b3098dbc-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-_89491901-60a7-85b8-4be4-d954b3098dc1-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-_89491901-60a7-85b8-4be4-d954b3098dc4-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-_89491901-60a7-85b8-4be4-d954b3098dc7-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-_89491901-60a7-85b8-4be4-d954b3098dca-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-_89491901-60a7-85b8-4be4-d954b3098dcd-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid gray">
                  <a id="w-node-_04fc5db7-82b6-59ad-ea21-2d04f74b1d3e-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-_04fc5db7-82b6-59ad-ea21-2d04f74b1d43-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-_04fc5db7-82b6-59ad-ea21-2d04f74b1d46-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-_04fc5db7-82b6-59ad-ea21-2d04f74b1d49-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-_04fc5db7-82b6-59ad-ea21-2d04f74b1d4c-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-_04fc5db7-82b6-59ad-ea21-2d04f74b1d4f-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid">
                  <a id="w-node-bf4cf14f-7b7e-7766-62f2-f2fe97fc10a6-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-bf4cf14f-7b7e-7766-62f2-f2fe97fc10ab-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-bf4cf14f-7b7e-7766-62f2-f2fe97fc10ae-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-bf4cf14f-7b7e-7766-62f2-f2fe97fc10b1-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-bf4cf14f-7b7e-7766-62f2-f2fe97fc10b4-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-bf4cf14f-7b7e-7766-62f2-f2fe97fc10b7-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid gray">
                  <a id="w-node-ebe88afe-1d7c-8bc6-ae47-36d174df6278-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-ebe88afe-1d7c-8bc6-ae47-36d174df627d-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-ebe88afe-1d7c-8bc6-ae47-36d174df6280-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-ebe88afe-1d7c-8bc6-ae47-36d174df6283-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-ebe88afe-1d7c-8bc6-ae47-36d174df6286-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-ebe88afe-1d7c-8bc6-ae47-36d174df6289-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid">
                  <a id="w-node-_89e34f6e-1028-22a8-2bf1-261a24366cfc-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-_89e34f6e-1028-22a8-2bf1-261a24366d01-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-_89e34f6e-1028-22a8-2bf1-261a24366d04-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-_89e34f6e-1028-22a8-2bf1-261a24366d07-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-_89e34f6e-1028-22a8-2bf1-261a24366d0a-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-_89e34f6e-1028-22a8-2bf1-261a24366d0d-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
                <div class="w-layout-grid account-grid gray">
                  <a id="w-node-_5853f392-4600-5144-03f2-27049309b7d8-d87e3ef4" href="#" class="row-block w-inline-block"><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label></a>
                  <a id="w-node-_5853f392-4600-5144-03f2-27049309b7dd-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Paul Boamah</div>
                  </a>
                  <a id="w-node-_5853f392-4600-5144-03f2-27049309b7e0-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Business &amp; Commercial Banking</div>
                  </a>
                  <a id="w-node-_5853f392-4600-5144-03f2-27049309b7e3-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">Patnership Account Opening</div>
                  </a>
                  <a id="w-node-_5853f392-4600-5144-03f2-27049309b7e6-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">SUBMITTED</div>
                  </a>
                  <a id="w-node-_5853f392-4600-5144-03f2-27049309b7e9-d87e3ef4" href="#" class="row-block w-inline-block">
                    <div class="row-data">8th Jun 2023, 08:06</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="pagination-banner">
              <div class="pagination-wrapper">
                <a href="#" class="pagination-block left-arrow w-inline-block"></a>
                <a href="#" class="pagination-text w-inline-block">
                  <div class="text-block-18">Previous</div>
                </a>
                <a href="#" class="pagination-block active w-inline-block">
                  <div class="pagination-number active">1</div>
                </a>
                <a href="#" class="pagination-block w-inline-block">
                  <div class="pagination-number">2</div>
                </a>
                <a href="#" class="pagination-block w-inline-block">
                  <div class="pagination-number">...</div>
                </a>
                <a href="#" class="pagination-block w-inline-block">
                  <div class="pagination-number">9</div>
                </a>
                <a href="#" class="pagination-block w-inline-block">
                  <div class="pagination-number">10</div>
                </a>
                <a href="#" class="pagination-text w-inline-block">
                  <div class="text-block-17">Next</div>
                </a>
                <a href="#" class="pagination-block right w-inline-block"></a>
              </div>
              <div class="text-block-19">Page 1 of 60</div>
            </div>
          </div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <app-task-pane></app-task-pane>
  </div>
</section>

