.db-section {
    height: 100vh;
    font-weight: 400;
    text-decoration: none;
}
/* .db--content-wrapper {
    display: flex;
    position: relative;
} */
  
.db--content-wrapper.track {
    height: 80vh;
    overflow: hidden;
}
/* 
.db--content-column {
    width: 100%;
    min-height: 95vh;
    float: left;
    color: #5c6c80;
    background-color: #fff;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    overflow: auto;
} */

.db-content-title {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #ffb81d, #ff681d);
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: Bentonsans Medium, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}
.form-block {
    margin-top: 8px;
}
.table-scroll-track {
    height: 75vh;
    overflow: auto;
}

.account-grid {
    border-radius: 4px;
    grid-template-rows: auto;
    grid-template-columns: .25fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 4px;
    font-family: Bentonsans Regular, sans-serif;
}

.account-grid.header {
    background-color: #fff;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 8px;
    font-family: Bentonsans Medium, sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
div.w-layout-grid.account-grid {
    grid-template-rows: auto;
    grid-template-columns: .25fr 1fr 1fr 1fr 1fr 1fr;
}

.account-grid.gray {
    background-color: #f5f6f8;
}

.row-block {
    text-decoration: none;
}
  
.row-data {
    color: #1f2937;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}
  
.row-data.header {
    color: #6b7280;
}
.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}
.w-checkbox {
    margin-bottom: 5px;
    padding-left: 20px;
    display: block;
}
.checkbox-label {
    display: none;
}
  
.w-checkbox:before {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}
  
.w-checkbox:after {
    content: " ";
    clear: both;
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}
  
.w-checkbox-input {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal;
}
  
.w-checkbox-input--inputType-custom {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
  
.w-checkbox-input--inputType-custom.w--redirected-checked {
    background-color: #3898ec;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #3898ec;
}
  
.w-checkbox-input--inputType-custom.w--redirected-focus {
    box-shadow: 0 0 3px 1px #3898ec;
}

.pagination-banner {
    border-top: 1px solid #f3f4f6;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}
.pagination-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 12px;
    display: flex;
}
.pagination-block {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #919eab;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
}

.pagination-block.left-arrow {
    background-color: #919eab;
    background-image: url('../../assets/images/carat.svg');
    background-position: 50%;
    background-repeat: no-repeat;
}
  
.pagination-block.right {
    background-image: url('../../assets/images/caratRight.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;

}

.pagination-block.active {
    border-color: #0062e1;
}
  
.pagination-number {
    color: #212b36;
}
    
.text-block-19 {
    font-size: 16px;
    line-height: 24px;
    display: flex;
}

.text-block-17, .text-block-18 {
    color: #0062e1;
}
  

@media screen and (min-width: 1440px) {
    .db--content-column {
      padding-bottom: 64px;
    }
}
